<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Profile
    </a>

    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% for item in menu %}
            {% if item.separator %}<li><hr class="dropdown-divider"></li>{% endif %}
            <li class="dropdown-item">
                <a class="nav-link active" aria-current="page" href="{{ item.url }}">{{ item.title }}</a>
            </li>
        {% endfor %}
